.weight-container .left-side {
  width: 40%;
}

.weight-container .right-side {
  width: 55%;
}

.weight-container .right-side div {
  text-align: center;
  margin-right: 20px;
}
.weight-container .right-side div h1 {
  color: rgb(0, 56, 62);
  font-weight: bolder;
  margin-bottom: 0;
}
.weight-container .right-side div p {
  margin: 0;
  color: white;
  font-weight: bold;
}
