.weight-container .left-side {
  width: 40%;
}

.weight-container .right-side {
  width: 55%;
}

.weight-container .right-side div {
  text-align: center;
  margin-right: 20px;
}
.weight-container .right-side div h1 {
  color: rgb(0, 56, 62);
  font-weight: bolder;
  margin-bottom: 0;
}
.weight-container .right-side div p {
  margin: 0;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 770px) {
  .weight-container {
    flex-direction: column;
    align-items: start;
  }

  .weight-container .left-side,
  .weight-container .right-side {
    width: 100%;
  }
  .weight-container .right-side {
    align-items: self-start;
    padding-top: 20px;
  }

  .product-container {
    flex-direction: column;
  }
  .product-card {
    margin-right: 0 !important;
    margin-bottom: 20px;
  }
}
