.login-register-container {
  background-color: #f3f3fd;
  min-height: 82vh;
  padding-bottom: 20px;
}
.user-account-page {
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-account-page input {
  border-radius: 9.838px;
  background: #eaf0f7;
  width: 500px;
  height: 50px;
  padding-inline: 1.5rem;
  outline: none;
  border: 1px solid #acadac;
  margin-bottom: 1rem;
}

.user-account-page .left {
  margin-right: 230px;
  position: relative;
}

.user-account-page .left h1 {
  line-height: 60px;
  margin-bottom: 45px;
}
.user-account-page .left p {
  z-index: 999 !important;
  position: relative;
}

.user-account-page button[type="submit"] {
  width: 500px;
  height: 50px;
  font-weight: bold;
  border-radius: 14.451px;
  background: #4461f2;
  box-shadow: 0px 11.805496215820312px 20.65961456298828px 3.9351651668548584px
    rgba(68, 97, 242, 0.15);
  color: white;
  margin-top: 20px;
  outline: none;
  border: none;
}

.or-divider {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.left-divider,
.right-divider {
  height: 1px;
  flex-grow: 1;
  background-color: #acadac;
}

.or-text {
  color: #acadac;
  margin-inline: 10px;
}

.bg-blur {
  position: absolute;
  top: -40%;
  left: -40%;
  height: 300px;
  width: 500px;
  transform: rotate(50deg);
  z-index: 1;
}

.external-login-method {
  width: 500px;
  height: 50px;
  border: 1px solid #acadac;
  padding-inline: 1.2rem;
  border-radius: 14.451px;
  margin-top: 26px;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: white !important;
  color: black !important;
}
.external-login-method:hover {
  box-shadow: 0px 0px 1rem lightgray;
}

.external-login-method svg {
  height: 2.2rem;
  width: 2.2rem;
}
.external-login-method span {
  font-size: 1.2rem;
  font-weight: 500;
  margin-left: 10px;
}
