/* ------------- */
/* navbar styles */
/* ------------- */

.navbar {
  height: 110px;
  background-color: #f3f3fd;
}

/* ----------- */
/* logo styles */
/* ----------- */

.logo-container {
  text-decoration: none;
}

.logo-container img {
  width: 40px;
  height: 40px;
}

.logo-container div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container p {
  font-weight: 900;
  font-size: 30px;
  margin-left: 1rem;
  position: relative;
  margin-top: 5px;
}

.logo-container svg {
  position: absolute;
  top: -6px;
  right: -26px;
}

/* ------------ */
/* navbar links */
/* ------------ */

.navlink,
.dropdown a {
  color: #404040;
  font-size: 1.1rem;
  font-weight: 700;
  text-decoration: none;
  margin-right: 30px;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease-out;
  z-index: 999;
}
.navlink .active,
.dropdown a .active {
  border-bottom: 2px solid #1260bf77;
}
.navlink:hover,
.dropdown a:hover {
  border-bottom: 2px solid #1260bf77;
}
.nav-link {
  display: inline !important;
  padding: 0 0 2.9px 0 !important;
}

.login-btn {
  text-decoration: none;
  transition: all 0.2s ease-out;
}
.login-btn,
.login-btn button {
  width: 170px;
  height: 50px;
  border-radius: 17.049px;
  background: linear-gradient(141deg, #3a8ef6 0%, #6f3afa 100%);
  color: white;
  font-size: 1.2rem;
  font-weight: bolder;
  border: none;
  outline: none;
  cursor: pointer;
}

.login-btn:hover {
  transform: translateY(-3px);
}

/* nav user loading animation style */
.kILvyp {
  position: static !important;
  margin-top: 3rem !important;
  margin-left: 1rem !important;
}
