/* product styles */
.product-card {
  margin-right: 18px;
  position: relative;
  color: rgb(0, 56, 62);
  padding: 0.8rem;
  min-height: fit-content;
  border-radius: 30px;
  background-color: white;
  border: 2px solid rgb(2, 165, 118);
  transition: all 0.3s ease-out;
}

.product-group {
  position: absolute;
  top: 20px;
  left: 14px;
  background-color: rgb(2, 165, 118);
  width: 145px;
  height: 30px;
  color: white;
  text-align: center;
  border-radius: 70px;
  padding-top: 2px;
  z-index: 99999;
}
.product-card img {
  width: 60%;
  display: block;
  margin-bottom: 20px;
  margin-inline: auto;
  transition: all 0.3s ease-out;
}
.product-card:hover {
  box-shadow: 0px 0px 16px rgb(107, 111, 123);
}
.product-card:hover .product-img {
  transform: scale(1.05);
}

.product-mg {
  width: 95%;
  border: 1px solid rgb(2, 165, 118);
  background-color: white;
  color: black;
  border-radius: 20px;
  padding-left: 10px;
  padding: 7px 16px;
}
